nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
	.container
		a#logo-container.navbar-brand(href='/')
			img.alfred-logo(src='/static/img/alfred_affiliate_logo.png')
		button.navbar-toggler(type="button", data-toggle="collapse", data-target="#collapsibleNav" aria-controls="collapsibleNav" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon

		#collapsibleNav.collapse.navbar-collapse
			ul.navbar-nav
				li.nav-item
					a.nav-link(href='https://github.com/howtolearn-de/howtolearn-de.github.io/blob/develop/CONTRIBUTING.md', target="_blank") How to contribute   
			