nav.navbar.navbar-dark.bg-dark
	.container
		a#logo-container.navbar-brand(href='/')
			img.alfred-logo(src='/static/img/alfred_affiliate_logo.png')
		.navbar-nav
			a.nav-item.nav-link(href='learn') How to learn
			a.nav-item.nav-link(href='contribute') How to contribute   
			