//- Navigation
nav.innoq-blue.lighten-1(role='navigation')
  .nav-wrapper.container
    a#logo-container.brand-logo(href='/') {{site.title}}
    ul.right
      li
        a(href='contribute') How to learn
      li
        a(href='contribute') How to contribute
