p
    b howtolearn.de 
    | nimmt den Schutz Ihrer persönlichen Daten sehr ernst. Wir selbst erfassen oder speichern keinerlei persönliche Daten.
    br
    br
    | Die Seiten werden hauptsächlich auf Servern Dritter gehostet und binden ebenso Inhalte Dritter von externen Webseiten ein. 
    | Dies setzt immer voraus, dass die jeweiligen Anbieter die IP-Adresse der Nutzer wahr nehmen. 
    | Denn ohne die IP-Adresse könnten sie Inhalte nicht an den Browser des jeweiligen Nutzers senden. 
    | Die IP-Adresse ist für die Darstellung der Inhalte erforderlich. Wir haben leider keinen Einfluss darauf, falls die Dritt-Anbieter die IP-Adresse 
    | z.B. für statistische Zwecke speichern. Soweit uns dieses bekannt ist, klären wir die Nutzer darüber auf.
    br
    br
    b Datenschutzerklärung für die Nutzung von GitHub Pages
    br
    Diese Website wird auf Servern von 
    a(href='https://github.com') Github Inc.
    | , 88 Colin P Kelly Jr St, San Francisco, CA 94107, USA gehostet. Beachten Sie daher auch die 
    a(href='https://help.github.com/articles/github-privacy-statement/') GitHub Privacy Policy.