<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>How to learn</title>

    <link rel="stylesheet" href="/static/css/bootstrap-material-design.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body>
    {% include _navbar.html %}

    {{content}}

    {% include _footer.html %}

    <script src="/static/js/bootstrap-material-design.min.js"></script>
</body>

</html>