---
title: Test Page
layout: base
---

#index-banner.section.no-pad-bot
	.container
		br
		br
		h1.header.center.orange-text You want to learn more about  ${tech}?
		h2.header.center.orange-text But you have no clue where to start?
		.row.center
			h4.header.col.s12.light Dont worry, you have come to the right place! HowToLearn provides curated lists of the top five resources, selected by experts on that topic..

		br
.container
	.section
		// Icon Section
		.row
			.col.s12.m4
				.icon-block
					h2.center.light-blue-text
						i.material-icons flash_on
					h5.center Learn fast
					p.light
						| Don't waste your time browsing the internet and reading irrelevant books, low quality videos and . HowToLearn provides you with only relevant information provided by th top experts.
			.col.s12.m4
				.icon-block
					h2.center.light-blue-text
						i.material-icons group
					h5.center User Experience Focused
					p.light
						| By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.
			.col.s12.m4
				.icon-block
					h2.center.light-blue-text
						i.material-icons settings
					h5.center Easy to work with
					p.light
						| We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.


.container#blog_roll
	style.
		#red_header {
			text-align: center;
			box-sizing: border-box;
			padding: 20px;
		}
	h2.white-text.light-blue.lighten-1.z-depth-2#red_header Most read articles
	.row
		| {% for post in site.posts %}
		.col.s12.m6
			.card.white
				.card-content
					span.card-title {{post.title}}
					p {{post.excerpt}}
				.card-action
					a(href='{{post.url}}') Read More
		| {% endfor %}
