---
title: How to learn
layout: base
---

.row.placeholder

#index-banner.section.no-pad-bot
	.container
		h1.heading Learn fast from the experts!
		p.description
			| Starting to learn something new is difficult. There may be tons of books, videos, blog-posts or tutorials, but reading all these sources takes a lot of time. Get a headstart by reading a curated list, provided by top experts.
	hr

.container#blog_roll
	style.
		#red_header {
			text-align: center;
			box-sizing: border-box;
			padding: 20px;
		}

	.row.card-deck
		| {% for post in site.posts %}
		.col-md-6.col-sm-12
			.card.bg-light.post-card
				.card-header.post-card_header {{post.title}}
				.card-body.post-card_body
					blockquote.blockquote.mb-0.post-card_blockquote 
						p.card-text {{post.excerpt}}
						footer.blockquote-footer {{post.expert}}
				.card-footer.post-card_footer
					a.btn.btn-primary.post-card_button(href='{{post.url}}') Read More
		| {% endfor %}
