---
title: Test Page
layout: base
---

#index-banner.section.no-pad-bot
	.container
		br
		br
		h1.header.center.orange-text Learn fast from the experts!
			h5.header.col.s12.light Starting to learn something new is difficult. There may be tons of books, videos, blog-posts or tutorials, but reading all these sources takes a lot of time. Get a headstart by reading a curated list, provided by top experts.



.container#blog_roll
	style.
		#red_header {
			text-align: center;
			box-sizing: border-box;
			padding: 20px;
		}
	h2.white-text.light-blue.lighten-1.z-depth-2#red_header Most read articles
	.row
		| {% for post in site.posts %}
		.col.s12.m6
			.card.white
				.card-content
					span.card-title {{post.title}}
					p {{post.excerpt}}
				.card-action
					a(href='{{post.url}}') Read More
		| {% endfor %}
