---
title: Home
layout: base
permalink: /
---
<main>
    <section id="introduction">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4 text-center">Learn fast from the experts!</h1>
                <p class="lead">
                    Starting to learn something new is difficult. There may be tons of books, videos, blog-posts or
                    tutorials, but reading all these sources takes a lot of time. Get a headstart by reading a
                    curated list, provided by top experts.
                </p>
            </div>
        </div>
    </section>
    <section id="articles" class="container">
        {% for post in site.posts %}
        <div class="row my-5">
            {% include _post_card.html post = post %}
        </div>
        {% endfor %}
    </section>
</main>