---
title: Privacy
layout: post
permalink: /privacy
---

p
    Notice: Since this server resides in Germany, and since the author of the website is German citizen, the German law applies for the entire website. Therefore, the data protection declaration is presented in German.
    br
    br
    howtolearn.de nimmt den Schutz Ihrer persönlichen Daten sehr ernst. Wir selbst erfassen oder speichern keinerlei persönliche Daten.
    br
    br
    Allerdings werden einerseits diese Seiten auf Servern Dritter gehostet, andererseits werden Inhalte Dritter von externen Webseiten eingebunden. Dies setzt immer voraus, dass die jeweiligen Anbieter die IP-Adresse der Nutzer wahr nehmen. Denn ohne die IP-Adresse könnten sie Inhalte nicht an den Browser des jeweiligen Nutzers senden. Die IP-Adresse ist für die Darstellung der Inhalte erforderlich. Wir haben leider keinen Einfluss darauf, falls die Dritt-Anbieter die IP-Adresse z.B. für statistische Zwecke speichern. Soweit uns dieses bekannt ist, klären wir die Nutzer darüber auf.
    br
    br
    b Datenschutzerklärung für die Nutzung von GitHub Pages
    br
    Diese Website wird auf Servern von a(href='https://github.com') Github Inc., 88 Colin P Kelly Jr St, San Francisco, CA 94107, USA gehostet. Beachten Sie daher auch die GitHub Privacy Policy.